flask-socketio
python-zeroconf 
cryptography 
eventlet
blinker           
certifi           
charset-normalizer 
click              
colorama           
Flask              
idna               
importlib_metadata 
itsdangerous       
Jinja2             
MarkupSafe         
Naked              
pip                
pycryptodome     
PyYAML             
requests           
setuptools         
shellescape        
urllib3            
Werkzeug          
zipp              
